{% extends 'planets/base.html' %}

{% block content %}
{% for planet in object_list %}
<tr>
	<td><a href="{{ planet.url }}">{{ planet.name }}</a></td>
	<td>{{ planet.diameter }}</td>
	<td>{% if planet.surface_water != '0' %}
		{% if planet.surface_water != 'unknown' %} {{ planet.surface_water }} water {% else %} unknown {% endif %}
		{% else %} No water {% endif %}
	</td>
	<td>{{ planet.population }}</td>
	<td>{{ planet.gravity }}</td>
	<td>{{ planet.climate }}</td>
	<td>{{ planet.rotation_period }}</td>
	<td>{{ planet.orbital_period }}</td>
</tr>
{% empty %}
<p>Нет планет</p>
{% endfor %}

{% endblock %}